.backdrop {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	z-index: 99;
}

.formController {
	position: fixed;
	top: 48px;
	bottom: 0;
	z-index: 99;
	background: var(--bg-color);
	width: 100%;
	max-width: 616px;
	padding: 32px 24px 200px;
	overflow-y: scroll;
}

.goBack {
	text-decoration: none;
	font-weight: 700;
	color: var(--text-color);
	display: flex;
	align-items: center;
}

.arrow {
	color: #7c5dfa;
	margin-right: 23px;
}

@media screen and (min-width: 768px) {
	.formController {
		overflow: hidden;
		padding: 56px 28px 200px 56px;
	}
}

@media screen and (min-width: 1024px) {
	.formController {
		left: 0;
		top: 48px;
	}
}