.button {
	padding: 16px 24px;
	border: none;
	border-radius: 2px;
	font-weight: 700;
	font-size: 12px;
	cursor: pointer;
	transition: background 250ms ease-in;
}

.button.small {
	padding: 16px;
}

.button.primary {
	background: var(--button-success);
	color: #fff;
}

.button.edit {
	background: var(--button-primary);
	color: #fff;
}

.button.delete {
	background: #ec5757;
	color: #fff;
}

.button.draft {
	background: var(--button-utility);
	color: #fff;
}

.button.primary,
.button.delete,
.button.edit,
.button.draft {
	transition: all 0.2s ease;
}

.button.primary:hover,
.button.delete:hover,
.button.edit:hover,
.button.draft:hover {
	filter: brightness(0.9);
}

.newInvoice {
	padding-left: 16px;
	position: relative;
}

/* .newInvoice::before {
	position: absolute;
	left: 6px;
	top: 50%;
	transform: translateY(-50%);
	content: '+';
	background: #fff;
	color: #7c5dfa;
	width: 32px;
	height: 32px;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
} */

@media screen and (min-width: 768px) {
	.newInvoice {
		padding-left: 16px;
		padding-right: 16px;
	}

	.newInvoice::before {
		left: 8px;
	}
}