.calender {
	background: #fff;
	border: none;
	box-shadow: 0 10px 20px 0 rgba(72, 84, 159, 0.25);
	font-family: 'Spartan', sans-serif;
	border-radius: 8px;
	padding: 2.4rem;
}

.calender .react-datepicker__navigation-icon::before {
	border-color: #7c5dfa;
}

.calender .react-datepicker__month-container {
	width: 100%;
	float: none;
	font-size: 1.2rem;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.calender .react-datepicker__header {
	background: #fff;
	border: none;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.calender .react-datepicker__current-month {
	font-size: 1.2rem;
}

.calender .react-datepicker__month {
	display: flex;
	flex-direction: column;
	margin: 0;
	gap: 16px;
}

.calender .react-datepicker__day-names {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 14px;
}

.calender .react-datepicker__week {
	font-weight: 700;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 14px;
	justify-content: center;
}

.calender .react-datepicker__day--selected {
	background-color: transparent;
	color: #7c5dfa;
}

.react-datepicker__day--keyboard-selected {
	background-color: #7c5dfa;
}