.button {
	padding: 16px 20px;
	border: 1px solid var(--accent-color);
	color: var(--text-color);
	font-size: 1.2rem;
	font-weight: 700;
	width: 100%;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	background: var(--bg-color);
	position: relative;
	cursor: pointer;
}

.button svg {
	width: 16px;
	height: 16px;
	color: #7e88c3;
}

.button:hover {
	border-color: var(--text-color-secondary);
}

.button:disabled {
	pointer-events: none;
	border-color: #dfe3fa;
}

.button:disabled svg {
	color: #dfe3fa;
}