.container {
	padding: 32px 24px 56px;
}

.back {
	color: var(--text-color);
	display: flex;
	font-size: 1.2rem;
	font-weight: 700;
	gap: 23px;
	text-decoration: none;
	transition: color 250ms ease-in-out;
}

.back svg {
	color: var(--text-color-secondary);
}

.back:hover {
	color: #7e88c3;
}

.control {
	background: #2c303a;
	box-shadow: 3px 7px 8px 5px var(--shadow-color);
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	padding: 24px;
	margin: 32px 0 16px;
	border-radius: 8px;
}

.title {
	color: var(--global-text-color-1);
	font-size: 1.2rem;
	font-weight: 600;
}

.actions {
	background: var(--bg-color-80);
	padding: 24px;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	gap: 8px;
	justify-content: center;
}

@media screen and (min-width: 768px) {
	.container {
		padding: 48px 40px 135px;
	}

	.control {
		grid-template-columns: auto 0.5fr 1fr;
		padding: 32px;
		gap: 16px;
	}

	.actions {
		position: unset;
		left: unset;
		right: unset;
		bottom: unset;
		padding: unset;
		justify-self: end;
	}
}

@media screen and (min-width: 1024px) {
	.container {
		align-self: flex-start;
		width: 100%;
		max-width: 730px;
		margin: 0 auto;
	}
}