.container {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 22px 24px;
	background: var(--accent-color);
	border-top: 1px solid var(--bg-color);
	display: flex;
	justify-content: center;
	gap: 7px;
}

.container.editing {
	justify-content: flex-end;
}

@media screen and (min-width: 768px) {
	.container {
		position: absolute;
		padding: 22px 56px;
	}

	.container button:first-of-type {
		margin-right: auto;
	}

	.container.editing {
		justify-content: flex-end;
	}

	.container.editing button:first-of-type {
		margin-right: unset;
	}
}