*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'Spartan', sans-serif;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	color: #0c0e16;
	background: #f8f8fb;
	height: 100%;
	font-size: 1.2rem;
}

p {
	font-weight: 500;
}